/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}


/*begin project styles*/

/*error handeling*/

.error { border: 2px solid red; }
form.error {   background: rgba(255, 0, 0, 0.2);  }

body {
	padding:20px 0;
	background-image: url(../img/bg-pattern.png);
}

.container {
	width:500px;
	margin:0 auto;
}


label, .label, select {
	margin:0 0 15px 0;
}


h1 {
	text-align:center;
	color:white;
	font-family:arial;
	font-weight:bold;
	font-size:48px;
}

h2 {
	margin:50px 0 20px 0;
	text-align:center;	
	color:white;
	font-family:arial;
	font-weight:bold;
	font-size:32px;
}

form {
	width: 100%;
	padding:20px;

	border: 2px solid transparent;
}

label, .label  {
	display:block;
	font-family:arial;
	font-size:18px;	
}

label span {
	display:block;
}

input, textarea {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
	width:auto;
}

.radios label, .checkbox label {
	font-size:12px;
}

textarea {
	height:200px;
}

select {
	width:500px;
	height:60px;
}

.submit {
	border:none;
	background:white;
	cursor:pointer;
	width:50%;
	display:block;
	margin:0 auto;
}




/*pretifier*/

ol {
	list-style-type: decimal;
}

code, pre {
	font-family:arial;
	font-size:16px;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #ff8a3c; }
.kwd, .prettyprint .tag { color: #195f91; }
.typ, .atn, .dec, .var { color: #3fbf79; }
.pln { color: #48484c; }
.pun{ color:#48484c; }
.prettyprint {
	display: block;
  padding: 20px;
  background-color: #f3f3f3;
  border: 0px solid #e1e1e8;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 40px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}